.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  width: 100%;
  overflow: hidden;
}

.slick-slider {
  width: 100%;
  margin: 0;
  padding: 0;
}

.slick-slide {
  width: 100%;
  height: auto;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  color: white;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: white;
} 